<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Destination detail</title>
	<link rel="icon" type="image/png" href="../static/styles/images/icons/favicon.ico"/>
	<!-- <link rel="stylesheet" type="text/css" href="styles/css/main.css"> -->
	<link rel="stylesheet" href="../static/styles/css/accountpage.css">
	<link rel="stylesheet" href="../static/styles/css/destination-detail.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/vendor/bootstrap4/bootstrap.min.css">


</head>
<body>
		<!-- TODO header must be here -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo"><a href="index.html">TripGuide</a></div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="index.html">Home</a></li>
									<li class="active"><a href="destinations.html">Destinations</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
							<!-- Hamburger -->
							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_social d-flex flex-row align-items-center justify-content-start">
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="#">
					<button type="button" class="btn btn-outline-light">Sign in</button>
				</a></li>
				<li><a href="registration.html">
					<button type="button" class="btn btn-outline-light">Registration</button>
				</a></li>
			</ul>
		</div>
	</header>

	<main>
		<div class="content">
			<div class="destination flex-column">
				<div class="data-tours flex-column">
					<div class="bali-tour" id="tour01">
							<div class="destination item">
								<div class="destination_content">
									<div class="destination_title"><h1>Bali</h1></div>
									<div class="destination_subtitle"><p>Luxury vacation package. Just enjoy Your time here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem omnis distinctio quidem sit nemo eaque et temporibus, quam nobis quod! Similique labore, vero consectetur ipsum odit animi.</p></div>
									<div class="destination_price">From $679</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
									<div class="destination_dates">
										<h4>Available dates</h4>
										<ul>
											<li><a href="#">11. 4. 2020 - 18. 4. 2020</a></li>
											<li><a href="#">11. 5. 2020 - 18. 5. 2020</a></li>
											<li><a href="#">11. 6. 2020 - 18. 6. 2020</a></li>
											<li><a href="#">11. 7. 2020 - 18. 7. 2020</a></li>
										</ul>
									</div>
									<div class="destination_attractions">
										<h4>Attractions</h4>
										<div class="destination_attraction">
											<img src="../static/styles/images/destination_1.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
										<div class="destination_attraction">
											<img src="../static/styles/images/destination_2.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
										<div class="destination_attraction">
											<img src="../static/styles/images/destination_3.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
										<div class="destination_attraction">
											<img src="../static/styles/images/destination_4.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
									</div>
									<div class="destination_images">
										<h4>Images</h4>
										<img src="../static/styles/images/destination_5.jpg" alt="">
										<img src="../static/styles/images/destination_6.jpg" alt="">
										<img src="../static/styles/images/destination_7.jpg" alt="">
										<img src="../static/styles/images/destination_8.jpg" alt="">
									</div>
								</div>
							</div>

					</div>
				</div>
			</div>

		</div>
	</main>


<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/destinations.js"></script>
<script src="../static/styles/vendor/bootstrap4/popper.js"></script>
<script src="../static/styles/vendor/bootstrap4/bootstrap.min.js"></script>


</body>
</html>