<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>TripGuide registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/styles/css/signup.css">
    <!--===============================================================================================-->
</head>
<body>
    <div  class="overlay display-none"></div>

    <div class="form-container display-none" id="login-form">
        <div class="wrap-login p-l-50 p-r-50 p-t-72 p-b-50">
            <div th:insert="~{fragments/login_form :: login_form}"></div>
        </div>
    </div>


    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('/static/styles/images/bg.jpg')"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <div th:insert="~{fragments/registration_form :: registration_form}"></div>
            </div>
        </div>
    </div>

<script src="/static/styles/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/js/signup.js"></script>
<script src="/static/js/login.js"></script>

</body>
</html>

