<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Account page</title>
	<link rel="icon" type="image/png" href="../../static/styles/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../../static/styles/vendor/bootstrap4/bootstrap.min.css">
	<link href="../../static/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/fonts/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" href="../../static/styles/css/accountpage.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/css/main_styles.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/css/signup.css">

	<link href="../../static/styles/css/calendar/style.css" rel="stylesheet" >

	<link href='../../static/calendar/core/main.css' rel='stylesheet' />
	<link href='../../static/calendar/daygrid/main.css' rel='stylesheet' />
	<link href='../../static/calendar/timegrid/main.css' rel='stylesheet' />
	<link href='../../static/calendar/list/main.css' rel='stylesheet' />



</head>
<body>
<div class="overlay display-none"></div>

<div class="form-container display-none" id="login-form">
	<div class="wrap-login p-l-50 p-r-50 p-t-72 p-b-50">
		<div th:insert="~{fragments/login_form :: login_form}"></div>
	</div>
</div>

<div th:insert="~{fragments/header :: header}"></div>

<main>
	<div class="content">
		<div class="about-user">
			<div class="flex-column">
				<h1>My Account</h1>
				<div class="flex-row">
					<div class="avatar">
						<img src="../../static/styles/images/admin_image.jpeg" alt="image">
					</div>
					<div class="info">
						<div class="username">
							<span>Username</span>
							<div id="data-1" th:text="${user.getUsername()}"> Admin</div>
						</div>
						<div class="email">
							<span>Email</span>
							<div id="data-2" th:text="${user.getEmail()}">admin@admin.com</div>
						</div>
						<div class="date">
							<span>Full name</span>
							<div id="data-3" th:text="${user.getFullName()}">01.01.1970</div>
						</div>
						<div class="type">
							<span>Account type</span>
							<div id="data-4" th:text="${user.getAuthorities()}">god</div>
						</div>
					</div>
				</div>
				<!-- <div class="edit-btn">
                    <button>Edit</button>
                </div> -->
			</div>
		</div>


		<div class="destinations" id="destinations">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_title"><h2>My Destinations</h2></div>
					</div>
				</div>
				<div class="row destinations_row">
					<div class="col">
						<div class="destinations_container item_grid">

							<!-- Destination -->
							<div id="divBlock1" th:if="${destination != null ? true : false}">
								<div class="destination item">
									<div class="destination_image">
										<img src="../../static/styles/images/destination_1.jpg" alt="">
									</div>
									<div class="destination_content">
										<div class="destination_title"><h3 th:text="${destination.getName()}">Bali</h3></div>
										<div class="destination_subtitle"><p th:text="${destination.getCountry()}">Luxury vacation package. Just enjoy Your time here</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="width: 50%; height: 50%; margin-top: 200px; margin-left: 200px;" id="calendar"></div>>
</main>


<script src='../../static/calendar/core/main.js'></script>
<script src='../../static/calendar/interaction/main.js'></script>
<script src='../../static/calendar/daygrid/main.js'></script>
<script src='../../static/calendar/timegrid/main.js'></script>
<script src='../../static/calendar/list/main.js'></script>

<script src="../../static/js/calendar/calendar.js"></script>

<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/styles/vendor/bootstrap4/popper.js"></script>
<script src="../../static/styles/vendor/bootstrap4/bootstrap.min.js"></script>
<script src="../../static/styles/fonts/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="../../static/js/custom.js"></script>
	
</body>
</html>