<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Destination detail</title>
	<link rel="icon" type="image/png" href="../../static/styles/images/icons/favicon.ico"/>
	<!-- <link rel="stylesheet" type="text/css" href="styles/css/main.css"> -->
	<link rel="stylesheet" href="../../static/styles/css/accountpage.css">
	<link rel="stylesheet" href="../../static/styles/css/destination-detail.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/vendor/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/css/signup.css">

</head>
<body>
<div class="overlay display-none"></div>

<div class="form-container display-none" id="login-form">
	<div class="wrap-login p-l-50 p-r-50 p-t-72 p-b-50">
		<div th:insert="~{fragments/login_form :: login_form}"></div>
	</div>
</div>

<div class="super_container">

	<div th:insert="~{fragments/header :: header}"></div>

	<main>
		<div class="content">
			<div class="destination flex-column">
				<div class="data-tours flex-column">
					<div class="bali-tour" id="tour01">
							<div class="destination item">
								<div class="destination_content">
									<div class="destination_title" th:text="${destination.getName()}"><h1>Bali</h1></div>
									<div class="destination_subtitle"><p>Luxury vacation package. Just enjoy Your time here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem omnis distinctio quidem sit nemo eaque et temporibus, quam nobis quod! Similique labore, vero consectetur ipsum odit animi.</p></div>
									<!--<div class="destination_price">From $679</div>-->
									<!--<div class="destination_list">-->
										<!--<ul>-->
											<!--<li>5 Stars Hotel</li>-->
											<!--<li>All Inclusive</li>-->
											<!--<li>Flight tickets included</li>-->
											<!--<li>Guided visits</li>-->
										<!--</ul>-->
									<!--</div>-->
									<div class="destination_dates">
										<h4>Available dates</h4>
										<ul>
											<li><a href="#">11. 4. 2020 - 18. 4. 2020</a></li>
											<li><a href="#">11. 5. 2020 - 18. 5. 2020</a></li>
											<li><a href="#">11. 6. 2020 - 18. 6. 2020</a></li>
											<li><a href="#">11. 7. 2020 - 18. 7. 2020</a></li>
										</ul>
									</div>
									<div class="destination_attractions">
										<h4>Attractions</h4>
										<div class="destination_attraction">
											<img src="../../static/styles/images/destination_1.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
										<div class="destination_attraction">
											<img src="../../static/styles/images/destination_2.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
										<div class="destination_attraction">
											<img src="../../static/styles/images/destination_3.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
										<div class="destination_attraction">
											<img src="../../static/styles/images/destination_4.jpg" alt="">
											<h5>Surfing</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
									</div>
									<div class="destination_images">
										<h4>Images</h4>
										<img src="../../static/styles/images/destination_5.jpg" alt="">
										<img src="../../static/styles/images/destination_6.jpg" alt="">
										<img src="../../static/styles/images/destination_7.jpg" alt="">
										<img src="../../static/styles/images/destination_8.jpg" alt="">
									</div>
								</div>
							</div>

					</div>
				</div>
			</div>

		</div>
	</main>
</div>

<script>
	function noScroll() {
		window.scrollTo(0, 0);
	}

	function displaylogin() {
		var loginform = document.getElementById("login-form");
		loginform.classList.remove("display-none");

		var x = document.getElementsByClassName('super_container')[0];
		x.setAttribute("class", "blur-10");
		document.getElementsByClassName("overlay")[0].classList.remove("display-none");

		window.addEventListener('scroll', noScroll);
	}
</script>


<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/destinations.js"></script>
<script src="../../static/styles/vendor/bootstrap4/popper.js"></script>
<script src="../../static/styles/vendor/bootstrap4/bootstrap.min.js"></script>


</body>
</html>