<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>TripGuide - Destinations</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="TripGuide Destinations">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../static/styles/vendor/bootstrap4/bootstrap.min.css">
<link href="../../static/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../../static/styles/fonts/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/css/destinations.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/css/destinations_responsive.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/css/signup.css">

</head>
<body>
<div class="overlay display-none"></div>

<div class="form-container display-none" id="login-form">
	<div class="wrap-login p-l-50 p-r-50 p-t-72 p-b-50">
		<div th:insert="~{fragments/login_form :: login_form}"></div>
	</div>
</div>

<div class="super_container">
	<!-- Header -->
	<div th:insert="~{fragments/header :: header}"></div>
	
	<!-- Home -->
	<div class="home">
		<div class="background_image" style="background-image:url(../../static/styles/images/destinations.jpg)"></div>
	</div>

	<!-- Search -->
	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_title">Search for your trip</div>
						<div class="home_search_content">
							<div th:insert="~{fragments/search_form :: search_form}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Destinations -->
	<div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing places</div>
					<div class="section_title"><h2>Destinations</h2></div>
				</div>
			</div>
			<div class="row destination_sorting_row">
				<div class="col">
					<div class="destination_sorting d-flex flex-row align-items-start justify-content-start">
						<div class="sorting">
							<ul class="item_sorting">
								<li>
									<span class="sorting_text">Sort By</span>
									<i class="fa fa-chevron-down" aria-hidden="true"></i>
									<ul>
										<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>All</span></li>
										<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Name</span></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row destinations_row">
				<div class="col">
					<div class="destinations_container item_grid">

						<!-- Destination -->
						<!--th:href="'destinations/' +${destination.getId()}+'/tours'"-->
						<a th:each="destination : ${destinations}" th:href="${#authorization.authentication.principal.equals('anonymousUser')} ? '/login' : 'destinations/'+${destination.getId()}+'/tours'">
							<div class="destination item">
								<div class="destination_image">
									<img th:src="'../../static/styles/images/destination_'+${destination.id}+'.jpg'" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3 th:text="${destination.getName()}">Title</h3></div>
									<div class="destination_subtitle"><p th:text="${destination.getCountry()}">Subtitle</p></div>
								</div>
							</div>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript"> function closeLogin() { location.replace("/guest/destination"); } </script>

<script type="text/javascript">
	function displaylogin() {
		var loginform = document.getElementById("login-form");
		loginform.classList.remove("display-none");

		var x = document.getElementsByClassName('super_container')[0];
		x.setAttribute("class", "blur-10");
		document.getElementsByClassName("overlay")[0].classList.remove("display-none");

		window.addEventListener('scroll', noScroll);
	}
</script>

<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/styles/vendor/bootstrap4/popper.js"></script>
<script src="../../static/styles/vendor/bootstrap4/bootstrap.min.js"></script>
<script src="../../static/styles/fonts/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="../../static/styles/fonts/easing/easing.js"></script>
<script src="../../static/styles/fonts/Isotope/isotope.pkgd.min.js"></script>
<script src="../../static/js/destinations.js"></script>
<script src="../../static/js/login.js"></script>

</body>
</html>