<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>TripGuide - Destinations</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="TripGuide Destinations">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../static/styles/vendor/bootstrap4/bootstrap.min.css">
<link href="../../static/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../../static/styles/fonts/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/css/destinations.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/css/destinations_responsive.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/css/signup.css">
</head>
<body>
<div class="overlay display-none"></div>

<div class="form-container display-none" id="login-form">
	<div class="wrap-login p-l-50 p-r-50 p-t-72 p-b-50">
		<div th:insert="~{fragments/login_form :: login_form}"></div>
	</div>
</div>

<div class="super_container">
	
	<!-- Header -->
	<div th:insert="~{fragments/header :: header}"></div>
	
	<!-- Home -->
	<div class="home">
		<div class="background_image" style="background-image:url(../../static/styles/images/destinations.jpg)"></div>
	</div>

	<!-- Search -->
	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_title">Search for your trip</div>
						<div class="home_search_content">
							<form action="#" class="home_search_form" id="home_search_form">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
									<input type="text" class="search_input search_input_1" placeholder="City" required="required">
									<input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
									<input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
									<input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
									<button class="home_search_button">search</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Destinations -->
	<div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing places</div>
					<div class="section_title"><h2>Destinations</h2></div>
				</div>
			</div>
			<div class="row destination_sorting_row">
				<div class="col">
					<div class="destination_sorting d-flex flex-row align-items-start justify-content-start">
						<div class="sorting">
							<ul class="item_sorting">
								<li>
									<span class="sorting_text">Sort By</span>
									<i class="fa fa-chevron-down" aria-hidden="true"></i>
									<ul>
										<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>All</span></li>
										<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
										<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Name</span></li>
									</ul>
								</li>
								<li>
									<span class="sorting_text">Categories</span>
									<i class="fa fa-chevron-down" aria-hidden="true"></i>
									<ul>
										<li class="num_sorting_btn"><span>Category</span></li>
										<li class="num_sorting_btn"><span>Category</span></li>
										<li class="num_sorting_btn"><span>Category</span></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="sort_box ml-auto"><i class="fa fa-th" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
			<div class="row destinations_row">
				<div class="col">
					<div class="destinations_container item_grid">

						<!-- Destination -->
						<a href="#">
							<div class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_1.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Bali</h3></div>
									<div class="destination_subtitle"><p>Luxury vacation package. Just enjoy Your time here</p></div>
									<div class="destination_price">From $679</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_2.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Indonesia</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $579</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_3.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>San Francisco</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $399</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_4.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Paris</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $639</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_5.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Phi Phi Island</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $929</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_6.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Mykonos</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $719</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_7.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Paris</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $515</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_8.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Phi Phi Island</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $879</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>

						<!-- Destination -->
						<a href="#">
							<!-- 
								For first version we need only one destionation, so this is why this div is display: none
								You can easily delete display:none, and div will be in our website
							-->
							<div style="display: none;" class="destination item">
								<div class="destination_image">
									<img src="../../static/styles/images/destination_9.jpg" alt="">
								</div>
								<div class="destination_content">
									<div class="destination_title"><h3>Mykonos</h3></div>
									<div class="destination_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									<div class="destination_price">From $679</div>
									<div class="destination_list">
										<ul>
											<li>5 Stars Hotel</li>
											<li>All Inclusive</li>
											<li>Flight tickets included</li>
											<li>Guided visits</li>
										</ul>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
	This maybe should be given to some js file and just import that file
 -->
<script>
	function noScroll() {
		window.scrollTo(0, 0);
	}

	function displaylogin() {
		var loginform = document.getElementById("login-form");
		loginform.classList.remove("display-none");

		var x = document.getElementsByClassName('super_container')[0];
		x.setAttribute("class", "blur-10");
		document.getElementsByClassName("overlay")[0].classList.remove("display-none");

		window.addEventListener('scroll', noScroll);
	}
</script>

<!--
	this should be replaced ASAP by BE implementation!!!
 -->
<script type="text/javascript">
	function setLocalStorage(numberOfBlock) {
		localStorage.setItem(`openDiv${numberOfBlock}`, 'open');
	}
</script>

<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/styles/vendor/bootstrap4/popper.js"></script>
<script src="../../static/styles/vendor/bootstrap4/bootstrap.min.js"></script>
<script src="../../static/styles/fonts/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="../../static/styles/fonts/easing/easing.js"></script>
<script src="../../static/styles/fonts/Isotope/isotope.pkgd.min.js"></script>
<script src="../../static/js/destinations.js"></script>
</body>
</html>