<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>TripGuide - Tour details</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="tour details" content="TripGuide tour details">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/static/styles/vendor/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/css/accountpage.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/css/destination-detail.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/css/tour-detail.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/css/signup.css">
	<link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico">

</head>
<body>
<div class="overlay display-none" id="overlay"></div>

<div class="form-container display-none" id="login-form">
	<div class="wrap-login p-l-50 p-r-50 p-t-72 p-b-50">
		<div th:insert="~{fragments/login_form :: login_form}"></div>
	</div>
</div>

<div class="" id="blur-10">
	<div class="super_container" id="super_container">
		<!---->
		<div th:insert="~{fragments/header :: header}"></div>

		<main>
			<div class="content">
				<div class="destination flex-column">
					<div class="data-tours flex-column">
						<div class="bali-tour" id="tour01">
							<div class="destination item">
								<div class="destination_content">
									<div th:if="${param.success}" class="info-alert" style="margin-bottom: 1rem">Success!</div>
									<div th:if="${param.error}" class="error-alert" style="margin-bottom: 1rem">Error!</div>
									<img th:src="'/static/styles/images/destination_'+${tour.getId()}+'.jpg'" alt="">
									<div class="destination_title"><h1 th:text="${tour.getCity()}">Title</h1></div>
									<div class="destination_dates">
										<h4>Details</h4>
										<ul>
											<li>Date: <span th:text="${tour.getDateTimeFrom().getYear()}"></span>-<span th:text="${tour.getDateTimeFrom().getMonth()}"></span>-<span th:text="${tour.getDateTimeFrom().getDayOfMonth()}"></span> →
												<span th:text="${tour.getDateTimeTil().getYear()}"></span>-<span th:text="${tour.getDateTimeTil().getMonth()}"></span>-<span th:text="${tour.getDateTimeTil().getDayOfMonth()}"></span>
											<li>Hotel: <span th:text="${tour.getHotel().getName()}"></span></li>
										</ul>
									</div>
									<div class="destination_attractions">
										<h4>Attractions</h4>
										<div th:each="att : ${attractions}" class="destination_attraction">
											<img th:src="'/static/styles/images/destination_'+${att.getId()}+'.jpg'" alt="">
											<h5 th:text="${att.getName()}">Surfing</h5>
											<p th:text="${att.getDescription()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
											<h5 th:if="${att.getFree()}" class="free_attraction">Free of charge</h5>
										</div>
									</div>
									<div class="destination_excursions">
										<h4>Excursions</h4>
										<div th:each="excur : ${tour.getExcursions()}" class="destination_excursion">
											<img th:src="'/static/styles/images/destination_'+${excur.getId()}+'.jpg'" alt="">
											<h5 th:text="${excur.getName()}">Surfing</h5>
											<p th:text="${excur.getDescription()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iusto nostrum, voluptatem</p>
										</div>
									</div>
									<div id="button-wrapper" th:if="${show}">
										<label>
											<span class="tourButton">Buy</span>
											<input id="checkbox" type="checkbox"/>
											<div class="confirm-modal">
												<form th:action="${#authorization.authentication.principal.equals('anonymousUser') ? '/login' : '' }" th:method="${#authorization.authentication.principal.equals('anonymousUser') ? 'get' : 'put' }">
													<p>Are you sure you want to buy a tour?</p>
													<button type="submit" class="tourButton">Yes</button>
													<button type="button" class="tourButton" onclick="closeCheckbox()">No</button>
												</form>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<script type="text/javascript">function closeCheckbox() {document.getElementById('checkbox').click();}</script>
<script type="text/javascript" src="/static/styles/vendor/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript"  src="/static/styles/vendor/bootstrap4/popper.js"></script>
<script type="text/javascript" src="/static/styles/vendor/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>
<script type="text/javascript" src="/static/js/destinations.js"></script>
</body>
</html>