*{
	padding: 0;
	margin: 0;
}

h1{
	margin-bottom: 30px !important ;
}

#infoAndCalendar {
	width: 100%;
	margin-top: 40px;
}

#userInfo {
	width: 30%;
	margin-left: 5%;
	float: left;
}

.content h1 {
	text-align: center;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-row{
	display: flex;
}

.about-user{
	display: flex;
	justify-content: space-around;
}

.about-user h3{
	margin: 10px;
	text-align: center;
}

.avatar {
	width: 100%;
}

.avatar img{
	width: 70%;
	margin-left: 15%;
}

.userInfo {
	width: 70%;
	margin-left: 15%;
}

.userInfo span {
	font-size: 30px;
	font-weight: bold;
}

.userInfo div {
	font-size: 20px;
}

#calendar {
	width: 55%;
	height: 50%;
	margin-left: 5%;
	float: left;
}

.info{
	display: flex;
	flex-direction: column;
}

.info [class]{
	margin: 10px;
}

.info span{
	font-weight: bold;
}

.info div{
	margin-top: 5px;
}

.destinations{
	margin: 30px 20px 20px;
	align-items: center;
}

.destinations.flex-column{
	width: 100% !important;
}

.destinations h2{
	text-align: center;
	margin: 20px;
	font-size: 2.5em;
}

.data-tours{
	justify-content: center;
}

.data-tours img{
	max-width: 300px!important;
	max-height: 300px!important;
}

.item{
	display: flex !important;
}

.destination_content{
	margin:  0 20px !important;
}

.destination_title{
	margin-top: 0 !important;
	margin-bottom: 10px;
}

a:visited{
	color: #333;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

.destination{
	padding: 0;
	margin: 0;
}

/*header*/
.header{
	background-color: #000;
	opacity: 0.7;
}

.content {
	top: 150px;
}

#toursBlock {
	width: 90%;
	margin-left: 5%;
}

#toursBlock .destination {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 30px;
}

.destination_image {
	width: 60%;
}

.destination_image img {
	width: 100%;
}

.destination_title h3{
	font-size: 30px;
	font-weight: bold;
}

.tour_about p{
	font-size: 20px;
}

.tour_price p, .tour_list li{
	font-size: 15px;
}

#destinations {
	width: 100%;
	margin-top: 40px;
	clear: both;
}

