<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/admin/main_styles.css">
</head>
<body>

<div class="container">

    <div id="header">
        <p id="mainPageLink" href="#">Add new tour</p>
    </div>

    <div class="links">
        <a href="/admin/home">Admin menu</a>
        <a href="/admin/tours">All tours</a>
    </div>

    <form  class="addTour" th:action="@{/admin/tours/add}" th:object="${tour}" th:method="post" id="addTourForm">

        <label for="description">Description: </label>
        <input type="text" name="name" id="description" th:field="*{description}" required/>

        <label for="hotel">Hotel: </label>
        <input type="text" name="name" id="hotel" th:field="*{hotel}" required/>

        <label for="delegate">Delegate's username: </label>
        <input type="text" name="name" id="delegate" th:field="*{delegate}" required/>

        <label for="dateTimeFrom">Date from: </label>
        <input type="datetime-local" name="dateTimeFrom" id="dateTimeFrom" th:field="*{dateTimeFrom}" required/>

        <label for="dateTimeTill">Date till: </label>
        <input type="datetime-local" name="dateTimeTill" id="dateTimeTill" th:field="*{dateTimeTil}" required />

        <label for="departureFrom">Departure from: </label>
        <input type="text" name="name" id="departureFrom" th:field="*{departureFrom}" required/>

        <label for="departureDateTime">Departure date and time: </label>
        <input type="datetime-local" name="departureDateTime" id="departureDateTime" th:field="*{departureDateTime}" required/>

        <label for="arrivalDateTime">Arrival date and time: </label>
        <input type="datetime-local" name="arrivalDateTime" id="arrivalDateTime" th:field="*{arrivalDateTime}" required/>

        <button type="submit" id="addEventButton">Add</button>
    </form>
</div>

<!--===============================================================================================-->
<script src="/static/styles/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/static/js/signup.js"></script>

</body>
</html>