<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>TripGuide registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../static/styles/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../static/styles/css/admin/main_styles.css">
</head>
<body>
    <div class="container">

        <div id="header">
            <a id="mainPageLink" href="/admin/home">Admin menu</a>
        </div>
        <div class="linksMain">
            <a href="/admin/tours">All tours</a>
            <a href="/admin/dest">All destinations</a>
            <a href="/admin/hotels">All hotels</a>
            <a href="/admin/users">All users</a>

            <a href="/admin/tours/add">Create tour</a>
            <a href="/admin/dest/add">Create destination</a>
            <a href="/admin/hotels/add">Create hotel</a>
            <a href="#">Create user</a>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="../../static/styles/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../static/js/signup.js"></script>
</body>
</html>